:root{
    /*Estilo 1*/
    --colorBody: #313131;
    --colorNav: #0000b7;
    --colorNav2: #291a45;
    --colorPresentacion: #f9f7f7;
    /*Estilo 2*/
    --colorNav3:  #c11207;
    --colorNav4:  #C70039 ;  
}

@keyframes AzulAMorado{
    0% {color: #0000b7;}
    30% {color: #30eee8;}
    70% {color: #f7f6f6;}
    100%{color: #291a45;}
}

@keyframes separacion{
    0% {letter-spacing: 1px;}
    0% {color: #cfd35e;}
    10% {letter-spacing: 1.5px;}
    20% {letter-spacing: 2px;}
    30% {letter-spacing: 2.5px;}
    40% {letter-spacing: 3px;}
    50% {letter-spacing: 3.5px;}
    60% {letter-spacing: 4px;}
    70% {letter-spacing: 4.5px;}
    80% {letter-spacing: 5px;}
    90% {letter-spacing: 5.5px;}
    100% {letter-spacing: 6px;}
    /*80% {color: #e6151c;}*/
}

@keyframes crecer{
    0% {clip-path: polygon(50% 70%, 0% 100%, 100% 100%);}
    10% {clip-path: inset(71% 0 0 0);}
    20% {clip-path: inset(64% 0 0 0);}
    30% {clip-path: inset(51% 0 0 0);}
    40% {clip-path: inset(39% 0 0 0);}
    50% {clip-path: inset(30% 0 0 0);}
    60% {clip-path: inset(18% 0 0 0);}
    70% {clip-path: inset(10% 0 0 0);}
    80% {clip-path: inset(5% 0 0 0);}
    90% {clip-path: inset(2% 0 0 0);}
    100% {clip-path: inset(0 0 0 0);}
    100% {border-radius: 4%;}
}

body{
    /*background-color:  #313131 ;*/
    background-color: var(--colorBody);
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: var(--colorBody);
}

#encabezado{
    /*background-color: #0000b7;*/
    /*background: linear-gradient(to bottom,#0000b7,#1432c1);*/
    /*background: linear-gradient(to bottom,#8319b1,#0000b7);*/
    background: linear-gradient(to bottom,var(--colorNav),var(--colorNav2));
}

#encabezado2{
    background: linear-gradient(to bottom, var(--colorNav3), var(--colorNav4));
}

.navOpcion{
    opacity: 1;
}

.navOpcion:hover{
    opacity: 0.6;
    /*background-color: #bb1afb;*/
    background: linear-gradient(to bottom,#0000b7,#bb1afb);
    border-radius: 25%;
}
/*
#presentacion h1 {
    animation-name: AzulAMorado;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}*/

#nombre{
    animation-name: AzulAMorado;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#rol{
    color: #cfd35e;
    animation-name: separacion;
    animation-duration: 0.5s;
    letter-spacing: 7px;
}

#presentacion img{
    clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-property: filter;
    filter: brightness(0);
}

#presentacion img:hover{
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
    animation-name: crecer;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    filter: brightness(1);
}

#presentacion{
    color: var(--colorPresentacion);
    opacity: 0.4;
    /*
    animation-name: cambio;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    transition-duration: 0.5s;
    transition-property: box-shadow,opacity;
}

#presentacion:hover{
    background: linear-gradient(to bottom,#686868,#313131);
    border-color: #686868;
    opacity: 1;
    box-shadow: 20px 20px 5px  #191919 ;
}

.contenedor{
    margin-top: 300px;
}

#trayectoria{
    transition-duration: 0.2s;
    transition-property: box-shadow;
}

#trayectoria:hover{
    box-shadow: 5px 5px 5px  #191919 ;
}

.titulo{
    border-bottom-color: #686868;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    letter-spacing: 30px;
    transition-property: color;
    transition-duration: 0.4s;
}

.titulo2{
    border-bottom-color:  #fcff94;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    letter-spacing: 30px;
    transition-property: color;
    transition-duration: 0.4s;
    color: #dadd7e;
}

.titulo:hover{
    color: var(--colorNav);
    border-bottom-color: var(--colorNav2);
}

.titulo2:hover{
    color: var(--colorNav);
    border-bottom-color: var(--colorNav2);
}

.trayectoriaItems{
    /*background-color: var(--colorNav);*/
    background: linear-gradient(to bottom,var(--colorNav),var(--colorNav2));
}

.trayectoriaItems2{
    background: linear-gradient(to bottom, var(--colorNav3), var(--colorNav4));
}

#carouselExampleCaptions{
    transition-duration: 0.2s;
    transition-property: box-shadow;
}

#carouselExampleCaptions{
    box-shadow: 0px 5px 5px  #191919 ;
}

#javaHabilidad{
    background: linear-gradient(to bottom,#21939d,#f26024);
}

#inglesHabilidad{
    background: linear-gradient(to bottom,#9c0e0c,#090ad3);
    color: #001003;
}

#mysqlHabilidad{
    background: linear-gradient(to bottom,#b0d9dc,#ff6f07);
}

#gitHabilidad{
    background: linear-gradient(to bottom,#001003,#a40000);
}

#htmlHabilidad{
    background: linear-gradient(to bottom,#cd2006,#fd7918);
}

#cssHabilidad{
    background: linear-gradient(to bottom,#00004b,#044cc2);

}

#javascriptHabilidad{
    background: linear-gradient(to bottom,#000b00,#ffff05);

}

#springbootHabilidad{
    background: linear-gradient(to bottom,#000800,#07b30b);

}

#bootstrapHabilidad{
    background: linear-gradient(to bottom,#ae12af,#532797);

}

#reactHabilidad{
    background: linear-gradient(to bottom,#5b71f3,#c60cab);

}


#accordionExample{
    --javaColor: #ff2c1d;
    --bootsTrapcolor: #4f0479;
    --springBootColor: #04a108;
    --SQLColor: #6c8eff;
    --reactColor: #00a4ff;
    --HTMLColor: #ff7a24;
    --CSSColor: #1b51d1;
    --javascriptColor: #ffe507;
}

#accordionExample:hover{
    box-shadow: 5px 5px 5px  #191919;
    transition-duration: 0.2s;
    transition-property: box-shadow;
}

#accordionExample div h2 button{
    background: linear-gradient(to bottom,var(--colorNav),var(--colorNav2));
    color: var(--colorPresentacion);
    transition-property: opacity;
    transition-duration: 0.3s;
}

#accordionExample div h2 button:hover{
    opacity: 0.8;
}

.badge{
    margin-left: 5px;
}

.javaBadge{
    background-color: var(--javaColor);
}

.HTMLBadge{
    background-color: var(--HTMLColor);
    color: var(--colorBody);
}

.CSSBadge{
    background-color: var(--CSSColor);
}

.javascriptBadge{
    background-color: var(--javascriptColor);
    color: var(--colorBody);
}

.SQLBadge{
    background-color: var(--SQLColor);
    color: var(--colorBody);
}

.springBootBadge{
    background-color: var(--springBootColor);
}

.bootstrapBadge{
    background-color: var(--bootsTrapcolor);
}

.reactBadge{
    background-color: var(--reactColor);
    color: var(--colorBody);
}

.respositorioBoton{
    background-color: var(--colorNav);
    color: var(--colorPresentacion);
}

.contactos{
    background: linear-gradient(to bottom,#e61b13,#ffff85,#460087);
    color: var(--colorBody);/*
    animation-name: volcan;
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
}

.contactos2{
    background: linear-gradient(to bottom,#69d151,var(--colorPresentacion),#00a0ff);
    color: var(--colorBody);
}


#icon-grid div div div p{
    cursor: pointer;
}

.fs-4{
    color: var(--colorBody);
}






/*
Colores: 
Mystifying Magenta: #d420ba
Ketchup Later: #a81a1c
Fugitive Flamingo: #fe62ab
Amora Purple: #bb30a4
Lust: #e51d26
*/