:root{
    --colorBody: #313131;
    --colorNav: #0000b7;
    --colorNav2: #291a45;
    --colorPresentacion: #f9f7f7;;
}

@keyframes AzulAMorado{
    0% {color: #0000b7;}
    30% {color: #30eee8;}
    70% {color: #f7f6f6;}
    100%{color: #291a45;}
}

body{
    /*background-color:  #313131 ;*/
    background-color: var(--colorBody);
}

#encabezado{
    /*background-color: #0000b7;*/
    /*background: linear-gradient(to bottom,#0000b7,#1432c1);*/
    /*background: linear-gradient(to bottom,#8319b1,#0000b7);*/
    background: linear-gradient(to bottom,var(--colorNav),var(--colorNav2));
}

.navOpcion{
    opacity: 1;
}

.navOpcion:hover{
    opacity: 0.6;
    /*background-color: #bb1afb;*/
    background: linear-gradient(to bottom,#0000b7,#bb1afb);
    border-radius: 25%;
}

#presentacion h1{
    animation-name: AzulAMorado;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#presentacion img{
    clip-path: ellipse(12% 21% at 15% 48%);
    transition-duration: 1s;
    transition-delay: 0.8s;
}

#presentacion img:hover{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

#presentacion{
    color: var(--colorPresentacion);
    opacity: 0.4;
    /*
    animation-name: cambio;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

#presentacion:hover{
    background: linear-gradient(to bottom,#686868,#313131);
    border-color: #686868;
    opacity: 1;
}


#habilidades{
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 0.1;
    border-radius: 1%;
}

#habilidades:hover{
    opacity: 1;
}

#habilidades div div{
    background: var(--colorNav);
    border-color: var(--colorNav);
    filter: brightness(0.1);
    transition-property: background, filter, border-color;
    transition-duration: 0.3s;
    color: var(--colorPresentacion);
}

#habilidades div div:hover{
    filter: brightness(1.0);
    background: linear-gradient(to right,var(--colorNav),var(--colorNav2));
    border-radius: 3%;
    border-width: 0px;
    border-color: var(--colorBody);
}

#h1Trabajos{
    color: #fe282f;
}

#accordionExample{
    --javaColor: #00adea;
}

#accordionExample div h2 button{
    background: linear-gradient(to bottom,var(--colorNav),var(--colorNav2));
    color: var(--colorPresentacion);
    transition-property: opacity;
    transition-duration: 0.3s;
}

#accordionExample div h2 button:hover{
    opacity: 0.8;
}

.badge{
    margin-left: 5px;
}

.javaBadge{
    background-color: var(--javaColor);
}




/*
Colores: 
Mystifying Magenta: #d420ba
Ketchup Later: #a81a1c
Fugitive Flamingo: #fe62ab
Amora Purple: #bb30a4
Lust: #e51d26
*/