
#body{
    background-color: #2b2b2b;
}

.container{
    background-color: #2b2b2b;
    height: 70px;
    margin-top: 20px;
    border-radius: 5%;
    padding: 10px;
}

#envoltorio{
    margin: auto;
}